<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
        <ul class="uk-nav uk-nav-default">
            <li class="uk-nav-header">Navigation</li>
            <li><a href="/login"><span class="uk-margin-small-right uk-icon"
                                            data-uk-icon="icon: table"></span> Login</a></li>
            {#<li><a href="/dashboard"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: thumbnails"></span>#}
                    {#Dashboard</a></li>#}
            <li class="uk-nav-divider"></li>
            </li>
        </ul>
        <h3>m3connect Türschilder</h3>
        <p>Es ist ein Projekt, das entwickelt wurde, um Kollegen dabei zu helfen, ihre Türbenachrichtigungen zu ändern, ohne
            großer Aufwand. Darauf sind Fotos, Name, Abteilung und Beschäftigungsstatus der Mitarbeiter zu sehen.</p>
    </div>
</div>