<h3>Forgot Password!</h3>

<div>Hi {{ name }}! You requested to reset your Account Password for {{ email }}. Please follow the link below:<br> {{ url }}</div>

<div>
    Kind Regards<br>
    Your Team
</div>
