{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}Neue Nutzer{% endblock %}

{% block content %}
    <h1>Erstellen</h1>

    {{ include('user/_form.html.twig') }}

    <a class="uk-button uk-button-text" href="{{ path('user_index') }}">Zurück zur Übersicht</a>
{% endblock %}
